@import "bourbon/bourbon";
@import "neat/neat";
@charset "utf-8";
/* CSS Document */

/* backgrounds */

body {
  @include outer-container;
  font-family: Arial, Helvetica, sans-serif;
	/*background-image: url("../images/bg.jpg");*/
	background-repeat: repeat-x;
	background-position: center top;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}

/* Font Styles */


h1 {
	font-size: 20px;
	font-weight: bold;
	color: black;
	line-height: 15px;
	margin-bottom: 10px;
}
h2 {
	font-size: 20px;
	font-weight: bold;
	color: #147AC0;
	line-height: 15px;
	margin-bottom: 10px;
}
h3 {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 15px;
	padding-left: 20px;
}
h4 {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	line-height: 15px;
}
h5 {}
.font_pathway {
	font-size: 12px;
	color: #FFFFFF;
	padding-left: 20px;
}
.font{
	font-size: 12px;
	color: #FFFFFF;
}
p {
	font-size: 12px;
}
.quote {
	font-size: 12px;
	color: #000000;
}
.subNav {
	font-size: 10px;
	color: #FFFFFF;
}
.footer {
	font-size: 10px;
	color: #000000;
	}
.fontNormBlack {
	font-size: 12px;
	color: #000000;
}
.fontNormBlack p {
	color: black;
}
.fontLinkRed {
	font-size: 12px;
	color: #DA2824;
	font-weight: bold;
}
.fontLinkNavNorm {
	font-size: 14px;
	color: #666666;
	font-weight: bold;
}
.fontLinkNavLinks {
	font-size: 14px;
	color: #0579c4;
	font-weight: bold;
}
.fontLinksBlue {
	font-size: 12px;
	color: #0579c4;
	font-weight: bold;
}
h2 a {
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 15px;
	margin-bottom: 10px;
}
.messagetable p {
	margin: 0px;
	padding: 0px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
.blurb {
  margin: 20px;
  padding: 10px;
  @include span-columns(6);
  background-color: white;
  color: #000000;
}
.break {
  height: 20px;
}
form {
  padding: 20px;
  background-color: #147AC0;
  color: #ffffff;
}
label, input {
  font-size: 20px;
  display: inline-block;
}
