@import "bourbon/bourbon";
@import "neat/neat";
@charset "utf-8";
/* CSS Document */

/* backgrounds */

body {
  @include outer-container;
  font-family: Arial, Helvetica, sans-serif;
	background-image: url("../images/bg.jpg");
  background-position: center top;
  background-size: 100% auto;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}

/* Font Styles */


h1 {
	font-size: 30px;
	font-weight: bold;
	color: black;
	line-height: 15px;
	margin-bottom: 10px;
}
h2 {
	font-size: 30px;
	font-weight: bold;
	color: #147AC0;
	line-height: 15px;
	margin-bottom: 10px;
}
h3 {
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 15px;
	padding-left: 20px;
}
h4 {
	font-size: 20px;
	font-weight: bold;
	color: #000;
	line-height: 15px;
}
h5 {}
.font_pathway {
	font-size: 20px;
	color: #FFFFFF;
	padding-left: 20px;
}
.font{
	font-size: 20px;
	color: #FFFFFF;
}
p {
	font-size: 16px;
}
.quote {
	color: #000000;
}
.subNav {
	font-size: 10px;
	color: #FFFFFF;
}
.footer {
	font-size: 10px;
	color: #000000;
	}
.fontNormBlack {
	font-size: 12px;
	color: #000000;
}
.fontNormBlack p {
	color: black;
}
.fontLinkRed {
	font-size: 12px;
	color: #DA2824;
	font-weight: bold;
}
.fontLinkNavNorm {
	font-size: 14px;
	color: #666666;
	font-weight: bold;
}
.fontLinkNavLinks {
	font-size: 14px;
	color: #0579c4;
	font-weight: bold;
}
.fontLinksBlue {
	font-size: 12px;
	color: #0579c4;
	font-weight: bold;
}
h2 a {
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 15px;
	margin-bottom: 10px;
}
.messagetable p {
	margin: 0px;
	padding: 0px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
// .quote {
//   @include span-columns(9);
// }

.blurb {
  @include span-columns(12);
  padding: 10px;
  background-color: white;
  color: #000000;
}
.break {
  @include span-columns(12);
  height: 20px;
  background-color: #192249;
}
form {
  padding: 20px;
  background-color: #147AC0;
  color: #ffffff;
}
label, input {
  font-size: 20px;
  display: inline-block;
}
.main {
  margin: 20px;
  padding: 10px;
  background-color: white;
}
address {
  font-size: 20px;
}

input, textarea, select, button, label {
  font-size: 40px;
  width : 100%;
  margin: 0;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.2 {
  @include span-columns(2);
}
.6 {
  @include span-columns(6);
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:50px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}

#tree-cutting {
  width: 100%;
}
